body{
	font-family: Arial;
	text-align: center;
	color: purple;
}
p{
	color:darkcyan;
	background: lightgrey;
	font-weight: bolder;
	text-align: right;
}
.fav_class{
	color: red;
	font-size: 30px;
	background-color: black;
}
h2{
	text-shadow: 2px 2px #ffD700;
}
/*this is a comment in my css code*/