table{
	border:1px solid silver;
}

td:hover{
	background-color: black;
	color: darkorange;
}

tr, th{
	background-color: grey;
	color: blue;
}

tr, td{
	background-color: darkslategrey;
	color: white;
}